<%= f.error_messages %>

<p>
  <%= f.label :supplier_id %><br />
  <%= f.text_field :supplier_id %>
</p>
<p>
  <%= f.label :wine_id %><br />
  <%= f.text_field :wine_id %>
</p>
<p>
  <%= f.label :supplier_side_wine_id %><br />
  <%= f.text_field :supplier_side_wine_id %>
</p>
<p>
  <%= f.label :notes %><br />
  <%= f.text_area :notes %>
</p>
