<%= f.error_messages %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</p>
<p>
  <%= f.label :address %><br />
  <%= f.text_area :address %>
</p>
<p>
  <%= f.label :store_url %><br />
  <%= f.text_field :store_url %>
</p>
<p>
  <%= f.label :affiliate_code %><br />
  <%= f.text_field :affiliate_code %>
</p>
<p>
  <%= f.label :supplier_type %><br />
  <%= f.text_field :supplier_type %>
  <br /> eg 'shop' or 'restaurant'
</p>
