<%= f.error_messages %>

<p>
  <%= f.label :barcode %><br />
  <%= f.text_field :barcode %>
  <br />The barcode string for this wine
</p>
<fieldset>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  <br />Wine name is optional - enter it if not same as producer
</p>
<p>
  <%= f.label :producer %><br />
  <%= f.text_field :producer %>
  <br />Wine Producer - often listed just as the name of the wine
</p>
</fieldset>
<fieldset>
  <legend>Location</legend>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </p>
  <p>
    <%= f.label :appellation %><br />
    <%= f.text_field :appellation %>
    <br />If applicable
  </p>
</fieldset>
<fieldset>
  <legend>Wine style</legend>
  <p>
    <%= f.label :variety %><br />
    <%= f.text_field :variety %>
    <br />or grape-type eg "Cabernet Sauvignon", "Pinot Noir" or "Blackberry"
  </p>
  <p>
    <%= f.label :colour %><br />
    <%= f.text_field :colour %>
    <br />red/white/rose/other
  </p>
  <p>
    <%= f.label :sparkling %><br />
    <%= f.check_box :sparkling %>
    <br />tick this box if the wine is sparkling
  </p>
  <p>
    <%= f.label :wine_type %><br />
    <%= f.text_field :wine_type %>
    <br />Leave this blank unless you have a special winetype (eg country wine or mead)
  </p>
</fieldset>
<p>
  <%= f.label :vintage %><br />
  <%= f.text_field :vintage %>
</p>
<p>
  <%= f.label :bottle_size %><br />
  <%= f.text_field :bottle_size %>
  <br />eg 750ml, 375ml etc
</p>
</fieldset>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description, :rows => 5 %>
</p>
<p>
  <%= f.label :tasting_notes %><br />
  <%= f.text_area :tasting_notes, :rows => 5 %>
</p>
