<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Vintage</th>
    <th>Variety</th>
    <%= content_tag :th, 'Actions' if @show_actions -%>
  </tr>

<% wines.each do |wine| %>
  <tr>
    <td><%= link_to h(wine.display_name), wine %></td>
    <td><%=h wine.display_location %></td>
    <td><%=h wine.vintage %></td>
    <td><%=h wine.variety %></td>
    <% if @show_actions -%>
    <td><%= link_to 'Edit', edit_wine_path(wine) %> |
    <%= link_to 'Destroy', wine, :confirm => 'Are you sure?', :method => :delete %></td>
<% end -%>
  </tr>
<% end %>
</table>

