<fieldset>
  <legend><%=h wine.barcode %></legend>
<p>
  <b>Name:</b>
<%=h wine.display_name %>
</p>

<p>
  <b>Country/Region/Appellation:</b>
  <%=h wine.display_location %>
</p>

<p>
  <b>Vintage year:</b>
  <%=h wine.vintage %>
</p>

<p>
  <b>Grape Variety:</b>
  <%=h wine.variety %>
</p>

<% if wine.wine_type.present? -%>
<p>
  <b>Wine type:</b>
  <%=h wine.wine_type %>
</p>
<% end -%>

<% if wine.description.present? -%>
<p>
  <b>Description:</b>
  <pre><%=h wine.description %></pre>
</p>
<% end -%>
<% if wine.tasting_notes.present? -%>
<p>
  <b>Tasting Notes:</b>
  <pre><%=h wine.tasting_notes %></pre>
</p>
<% end -%>

<% # for admins to see and access stockists 
   if @show_actions -%>
  <h3>Suppliers stocking this wine:</h3>
<%= render :partial => 'suppliers/index', :locals => {:suppliers => wine.suppliers} if wine.suppliers.present? -%>
<% # for users to see a list of affiliate-purchase links
   else -%>
  <% if wine.listings.present? -%>
    <h3>Purchaseable through these suppliers</h3>
    <ul>
      <% wine.listings.each do |listing| -%>
        <%= content_tag :li, link_to(h(listing.supplier.name), listing.affiliate_link) -%>
      <% end -%>
    </ul>
  <% end -%>
<% end -%>

</fieldset>
