<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Grape Shots<%= ": #{@page_title}" if @page_title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
  <div id="header">
    <div id="logo"><%= image_tag "logo.gif", :alt => "grape shots", :width => 89, :height => 89 -%></div> <%= content_tag :div, content_tag(:h1,@page_title), :id => 'pagetitle' if @page_title -%>
  <% if @show_actions -%><div id="nav">Navigation: <%= link_to_unless_current 'Find by Barcode!', find_wines_path -%> | <%= link_to_unless_current 'wines', wines_path -%> | <%= link_to_unless_current 'suppliers', suppliers_path -%> | <%= link_to_unless_current 'listings', listings_path -%></div><% end -%>
    <% if flash.present? -%>
    <p style="color: green"><%= flash[:notice] %></p>
    <p style="color: red"><%= flash[:error] %></p>
    <% end -%>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">
    Follow our progress on Twitter: <a href="http://www.twitter.com/wineshots/">@wineshots</a><br />
  &copy; Wine Scan Ltd 2009. All rights reserved.
  </div>
</body>
</html>
